*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
font-family: 'Releway', sans-serif;
background-image: url(https://cdn.pixabay.com/photo/2022/12/01/17/52/sea-7629517_960_720.jpg);
}